#navbar {
    background: #1a508b;
}

#form-section {
    margin: 0 auto;
    padding: 4rem 20rem;
}


@media only screen and (max-width: 600px) {
    #form-section {
        margin: 0 auto;
        padding: 4rem 0rem;
    }
    #navbar {
        background: #1a508b;
    }
    h1 {
        font-size: 1.4rem;
        text-align: center;
    }
}


@media (min-width: 1024px) {
    #form-section {
        margin: 0 auto;
        padding: 4rem 10rem;
    }
    #navbar {
        background: #1a508b;
    }
    
}